In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from dotenv import load_dotenv

Loading data from CSV files

In [2]:
filepath2 = '/Users/pritish/projects/Hotels-Decision-Support-and-Sentimental-Analysis/Map Plots/top10_polaritymaps/'
filename = 'Bangkok_Polarity_Coords.csv'

df = pd.read_csv(os.path.join(filepath2, filename))
df

    0                                Hotel_name   Longitude   Latitude
0   1                      Hotel Verve, Bangkok  100.578996  13.725610
1   2      Novotel Bangkok on Siam Square Hotel  100.538396  13.754125
2   3                            FuramaXclusive  100.561906  13.739973
3   4          Asoke Residence Sukhumvit by UHG  100.541551  13.740560
4   5          Siri Sathorn Bangkok by UHG Hote  100.538608  13.725605
5   6                     SKYVIEW Hotel Bangkok  100.528684  13.722024
6   7            Alt Hotel Nana by UHG, Bangkok  100.552199  13.735083
7   8  The Quarter Ladprao by UHG Hotel, Bangko  100.561013  13.812383
8   9     The Quarter Ari by UHG Hotel, Bangkok  100.546700  13.784726
9  10           Millennium Hilton Bangkok Hotel  100.511653  13.728635

Using Mapbox

In [ ]:
load_dotenv()
apitoken = os.getenv('mapbox_token')

import plotly.graph_objects as go
mapbox_access_token = apitoken

In [ ]:
fig = go.Figure(go.Scattermapbox(
        lat= df['Latitude'],
        lon= df['Longitude'],
        mode='markers',
        marker=go.scattermapbox.Marker(
            size=6
        ),
        text= df['Hotel_name'],
    ))

fig.update_layout(
    title_text = 'Bangkok - Top 10 hotels based on overall calculated polarity score',
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=df['Latitude'].mean(),
            lon=df['Longitude'].mean()
        ),
        pitch=0,
        zoom=12
    ),
)

fig.show()